.pro {
  margin-bottom: 100px;
  box-sizing: border-box;
}
.pro-card {
  background-color: teal;
  border-radius: 20px;
}
div h2 {
  color: black;
  margin-left: 10px;
  font-family: "Rowdies", cursive;
}
.word {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  color: whitesmoke;
  margin-right: 10px;
  margin-left: 10px;
}
.verysmall {
  margin-right: 10px;
  margin-left: 10px;
  font-size: 14px;
  color: black;
  font-family: "Open Sans", sans-serif;
}
a button {
  color: white;
  font-family: "Open Sans", sans-serif;
  margin-left: 10px;
}
.delay1 {
  animation: mymove1 1.5s 1;
  position: relative;
}
@keyframes mymove1 {
  from {
    left: 600px;
  }
  to {
    left: 0px;
  }
}
.delay2 {
  animation: mymove2 2s 1;
  position: relative;
}
@keyframes mymove2 {
  from {
    left: 600px;
  }
  to {
    left: 0px;
  }
}
.delay3 {
  animation: mymove3 2.5s 1;
  position: relative;
}
@keyframes mymove3 {
  from {
    left: 600px;
  }
  to {
    left: 0px;
  }
}
.delay4 {
  animation: mymove4 3s 1;
  position: relative;
}
@keyframes mymove4 {
  from {
    left: 600px;
  }
  to {
    left: 0px;
  }
}
button {
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  width: 20%;
  padding: 10px;
  border-radius: 10px;
  background-color: black;
  margin: 10px 0px 10px 0px;
  transition: transform 0.9s; /* Animation */
}
button:hover {
  background-color: orangered;
  transform: scale(1.5);
}
