.pro {
  margin-bottom: 100px;
  box-sizing: border-box;
}
.pro-card {
  background-color: teal;
  border-radius: 20px;
}
div h2 {
  color: black;
}
.word {
  font-family: "PT Serif", serif;
  font-size: 15px;
  color: whitesmoke;
  margin-right: 5px;
}
small {
  font-size: 15px;
  color: black;
}
a button {
  color: white;
}
.delay1 {
  animation: mymove1 2s 1;
  position: relative;
}
@keyframes mymove1 {
  from {
    left: 600px;
  }
  to {
    left: 0px;
  }
}
.delay2 {
  animation: mymove2 2.5s 1;
  position: relative;
}
@keyframes mymove2 {
  from {
    left: 600px;
  }
  to {
    left: 0px;
  }
}
.delay3 {
  animation: mymove3 3s 1;
  position: relative;
}
@keyframes mymove3 {
  from {
    left: 600px;
  }
  to {
    left: 0px;
  }
}
.delay4 {
  animation: mymove4 3.5s 1;
  position: relative;
}
@keyframes mymove4 {
  from {
    left: 600px;
  }
  to {
    left: 0px;
  }
}
button {
  box-sizing: border-box;
  font-size: 40px;
  font-weight: bolder;
  color: rgb(255, 255, 255);
  width: 25%;
  padding: 10px;
  border-radius: 10px;
  background-color: black;
  margin: 10px;
  transition: transform 0.9s; /* Animation */
}
button:hover {
  background-color: orangered;
  transform: scale(1.5);
}
