* {
  box-sizing: border-box;
}

.navi {
  background-color: black;
  font-family: "Rowdies", cursive;
  width: 100%;
  padding: 10;
  height: auto;
  box-sizing: border-box;
  display: inline-block;
}
.navlinks a {
  color: black;
}
.navlinks a:hover {
  color: orangered;
}
.navlinks {
  text-decoration: none;
  font-weight: 20px;
  font-size: 25px;
  text-align: left;
  width: 100%;
  display: inline-block;
  color: rgb(14, 13, 13);
  top: 15px;
}
i {
  color: orangered;
  display: inline-block;
}
